[data-theme='dark'] body {
  --bg-body: rgb(30 30 30);
  --bg-sidebar: #332828;
  --bg-main: #2A1F1E;
  --bg-searchbar: #403533;
  --color-text-input: #ffff;
  --bg-icon-input: #ffff;
  --bg-icon-toolbar: #C9C0BE;
  --bg-hover-icon: rgba(89, 78, 73, .5);
  --bg-border-main-middle: #0000;
  --bg-border-main: #736D6B;
  --bg-seperator-sidebar: #413735;
  --bg-separator-item: #413735;
  --bg-radio-btn: #5D5656;
  --color-text-info: #ffff;
  --bg-categories: rgba(89, 78, 73, .5);
  --color-text-categories: #D0C7C6;
  --bg-border-search: #716664;
  --color-delete-completed: #727e87;
  --color-text-completed-info: #9F9A9A;
  --bg-menu-content: rgba(46, 40, 40, .9);
  --color-text-menu: #ffff;
  --border-menu-content: #413735;
  --bg-trigger-menu: #2F2828;
  --color-text-trigger-menu: #9F9A9A;
  --bg-hover-trigger-menu: #362f30;
  --bg-messageEmpty: #615756;
  --bg-loader: #fff;
  --color-datePicker: 'dark';
  --bg-alert-dialog: #2c2525;
  --bg-btn-alert-dialog: #6f6560;
}

[data-theme='light'] body {
  --bg-body: #f5f5f5;
  --bg-sidebar: #eee8e5;
  --bg-main: #ffff;
  --bg-searchbar: #e1dbd9;
  --color-text-input: #212020;
  --bg-icon-input: #212020;
  --bg-icon-toolbar: #706766;
  --bg-hover-icon: #f2f2f2;
  --bg-border-main-middle: #d8d2cf;
  --bg-border-main: #d8d2cf;
  --bg-seperator-sidebar: #d5cecc;
  --bg-separator-item: #e6e6e6;
  --bg-radio-btn: #bdbdbd;
  --color-text-info: #212020;
  --bg-categories: #d3cdcc;
  --color-text-categories: #544e4e;
  --bg-border-search: #d8d2cf;
  --color-delete-completed: #5c6670;
  --color-text-completed-info: #808080;
  --bg-menu-content: rgb(233 228 227);
  --color-text-menu: #706b6a;
  --border-menu-content: #b8b8b8;
  --bg-trigger-menu: #f5f5f5;
  --color-text-trigger-menu: #7b7b7b;
  --bg-hover-trigger-menu: #eae5e5;
  --bg-messageEmpty: #bdbdbd;
  --bg-loader: #615756;
  --color-datePicker: 'light';
  --bg-alert-dialog: #e8e2df;
  --bg-btn-alert-dialog: #cfc8c6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--bg-body);
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 1000px;
  height: 700px;
  border: 1px solid var(--bg-border-main);
  overflow: hidden;
  display: flex;
  border-radius: .6rem;
  margin: .7rem;

}

.wrapperRight {
  flex: 1 auto;
  background-color: var(--bg-main);
}

main {
  width: 100%;
  height: 100%;
  padding: 1.5rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}