.container {
  flex: 1 auto;
  min-height: 0px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: clamp(1.4rem, 4vw + .5rem, 2.1rem);
  color: #0087FF;
  font-weight: 600;
}

.wrapperElements {
  flex: 1 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.wrapperElements.circularProgress {
  margin-top: 0;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}